h1 {
  font-size: 32px !important;
}

h2 {
  color: #550000;
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  border-bottom: 2px LightGrey solid;
}

h3 {
  /* color: #d03030; */
  color: #666666;
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 1px LightGrey solid;
}

h4 {
  /* color: #d03030; */
  color: #B52323;
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px LightGrey solid;
}

.container-fluid {
  color: #444;
}

.article-content {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

code {
  font-size: 14px;
}

.article-content blockquote {
  font-family: Arial, 'Helvetica Neue', Helvetica, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  border-left: 2px solid #ffeb8e;
  background-color: #fff8dc;
  margin-bottom 10px;
  padding: 10px;
}

.article-content blockquote p {
  margin: 0;
}
